<?js
var data = obj;
var self = this;
if (data.kind === 'package') {
    VERSION = data.version;
}
?>

<?js if (data.kind === 'package') { ?>
    <!-- <h3><?js= data.name ?> <?js= data.version ?></h3> -->
    <h3>Version <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <?js if (VERSION) { data.readme = data.readme.replaceAll("___VERSION___", VERSION); } ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
